.calendar-container {
	background: #fff;
	width: 450px;
	border-radius: 1px;
	box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
	transform: scale(0.5);
	position: absolute;
	z-index: 250;
}

.calendar-container header {
    padding: 0 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calendar-container.hidden {
    display: none;
}

header .calendar-navigation {
	display: flex;
}

header .calendar-navigation span {
	height: 38px;
	width: 38px;
	margin: 0 1px;
	cursor: pointer;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
	user-select: none;
	color: #aeabab;
	font-size: 1.9rem;
}

.calendar-navigation span:last-child {
	margin-right: -10px;
}

header .calendar-navigation span:hover {
	background: #f2f2f2;
}

header .calendar-current-date {
	font-weight: 500;
	font-size: 1.55rem;
}

.calendar-body {
    margin-left: -35px;
    margin-top: -30px;
	padding: 10px;
}

.calendar-body ul {
	list-style: none;
	flex-wrap: wrap;
	display: flex;
	text-align: center;
}

.calendar-body .calendar-dates {
    margin-top: -20px;
	margin-bottom: 20px;
}

.calendar-body li {
	width: calc(100% / 7);
	font-size: 1.27rem;
	color: #414141;
}

.calendar-body .calendar-weekdays li {
	cursor: default;
	font-weight: 500;
}

.calendar-body .calendar-dates li {
	margin-top: 30px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.calendar-dates li.inactive {
	color: #aaa;
}

.calendar-dates li.active {
	color: #fff;
}

.calendar-dates li::before {
	position: absolute;
	content: "";
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
	background: #3aa3fe;
}

.calendar-dates li:not(.active):hover::before {
	background: #e4e1e1;
}




.recurrence-box {
    display: block;
    z-index: 100;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.5);
}
.recurrence-box-hidden {
    display: none;
}
.recurrence-box label, .recurrence-box select, .recurrence-box input[type=radio], .recurrence-box input[type=button] {
    display: block;
    margin: 10px 0;
}
.recurrence-box input[type=radio], .recurrence-box input[type=button] {
    margin-left: 20px;
}
.recurrence-box .days-of-week {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
}
.recurrence-box .day {
    font-size: 12px;
    width: 20px;
    height: 20px;
    background: #E8E8E8;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.recurrence-box .day.active {
    background: #007bff;
    color: #fff;
}
.recurrence-box .row {
    display:flex;
    margin: -20px;
    margin-top: 5px;
}
.recurrence-box .repeat-every {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
}
.recurrence-box .custom-button {
    background: #2DAED5;
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 9px;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.recurrence-box .repeat-every-input {
    width: 10%;
    text-align:center;
    height:18px;
    margin-top:10px;
    background: #E8E8E8;
    border: none;
    border-radius: 2px;
}
.recurrence-box .custom-row {
    display: flex;
    justify-content: space-between;
}
#custom-event-popup {
  transition: left 0.2s ease, top 0.2s ease, opacity 0.5s ease;
}

.modal-backdrop {
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: none;
}

#calendar {
    height: 98vh;
}

.undo-popup {
    opacity: 0;
    position: absolute;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: top 0.2s ease, opacity 0.2s ease;
}

.undo-popup button {
    background: none;
    border: none;
    color: #08ade5;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.undo-popup #closePopup {
    font-weight: bold;
}

#red-circle {
  display: none;
  position: absolute;
  top: -15px;
  right: -5px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
}

.recurrence-box .custom-radio-field {
    width: 94%;
    margin-left: -15px;
    margin-top: -10px;
    position: absolute;
    cursor: default;
    opacity: 0;
}

.fc .fc-toolbar-title {
    font-size: 23px !important; /* Adjust the font size as needed */
    color: #333 !important; /* Change color */
}

.fc .fc-button {
    padding: 5px 10px !important; /* Adjust padding */
    border: none !important; /* Remove default border */
    border-radius: 5px !important; /* Rounded corners */
    margin-right: 4px;
}